@{
    ViewData["Title"] = "Exploring View Models (and attribute routing again)";
}
<h3>The current basket</h3>
<p>
    Check out the current <a asp-controller="Food" asp-action="Items">food basket</a>.
</p>